- if action_name == "new"
  - path = admin_photos_path
- else
  - path = admin_photo_path(@photo)

= form_for(@photo, url: path, :html =>{class: ""}) do |f|
  %h3
    - if action_name == "new"
      New Photo
    - else
      ="#{@photo.title} - Id ##{@photo.id}"
    %small= f.submit "Update", class: "ml-2 btn btn-primary float-right", disabled: false
  .row
    .col-md-6
      .form-group
        - unless action_name == "new"
          = image_tag(@photo.image, class: "img-fluid")
        %label{:for => "image"}
        = f.file_field :image

    .col-md-6
      .form-group
        %label{:for => "title"} Title
        = f.text_field :title, placeholder: "Title name", class: "form-control"
        %label{:for => "in_slider"} Sliderposition
        = f.number_field :in_slider, placeholder: "1-99", class: "form-control"
      .form-group
        .field-unit__label
          = f.label :all_categories
        .field-unit__field
          %div#category_input

            = f.autocomplete_field :all_categories,
            autocomplete_category_title_admin_photos_path,
            "data-role" => "categoriesinput",
            placeholder: "Categories separated with comma",
            class: "form-control",
            'data-delimiter' => ', ',
            :multiple => true,
            :append_to => "#category_input",
            'data-auto-focus' => true

      .form-group
        .field-unit__label
          = f.label :all_tags
        .field-unit__field
          %div#tag_input

            = f.autocomplete_field :all_tags,
            autocomplete_tag_title_admin_photos_path,
            "data-role" => "tagsinput",
            placeholder: "Tags separated with comma",
            class: "form-control",
            'data-delimiter' => ', ',
            :multiple => true,
            :append_to => "#tag_input",
            'data-auto-focus' => true

  .form-group
    %label{:for => "caption"} Caption
    = f.text_area :caption, placeholder: "Caption name", class: "form-control"



  = f.submit "Update", class: "btn btn-primary btn-lg float-right", disabled: false
