%h3
  Photos
  = link_to "New photo", new_admin_photo_path, class: "btn btn-primary mb-3 float-right"
%table.table.table-hover.table-condensed
  %thead
    %tr
      %th #
      %th Image
      %th Sliderpos
      %th Title
      %th Cats
      %th Tags
      %th Parent
      %th{colspan: 2}
        = "Actions"

  %tbody
    -@photos.each_with_index do |photo, index|
      %tr{id: "photo_#{photo.id}", class: ""}
        %td
          = photo.id 
        %td.p-0.w-3
          .fixed-ratio
            = link_to edit_admin_photo_path(photo), class: "fixed-ratio__inner" do
              = image_tag photo.image(:thumbnail), class: 'w-100'
        %td
          = link_to admin_photos_path do
            = photo.in_slider
        %td
          = link_to photo.title, edit_admin_photo_path(photo)

        %td.d-none.d-sm-table-cell
          - if photo.categories.present?
            %ul.list-unstyled.flex.flex-row-wrap
              - photo.categories.each do |category|
                %li.mr-1
                  %i
                    = link_to edit_admin_category_path(category) do
                      = category.title
                      - if photo.categories.length > 1
                        = ","
        %td.d-none.d-sm-table-cell
          - if photo.tags.present?
            %ul.list-unstyled.flex.flex-row-wrap
              - photo.tags.each do |tag|
                %li.mr-1
                  %i
                    = link_to edit_admin_tag_path(tag) do
                      = tag.title

                      - if photo.tags.length > 1
                        = ","


        %td.text-right.text-nowrap.d-flex.flex-column
          - if photo.parent.present?
            -#= link_to edit_admin_photo_path(photo.parent), class: "" do
              -#= "##{ photo.parent.id }"
              -#= photo.parent.title
            .fixed-ratio
              = link_to edit_admin_photo_path(photo.parent), class: "fixed-ratio__inner" do
                = image_tag photo.parent.image(:thumbnail), class: 'w-100'

        %td.text-right.text-nowrap
          = link_to edit_admin_photo_path(photo), class: "btn btn-outline-success btn-sm" do
            %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
            = fa_icon "pencil"

          = link_to admin_photo_path(photo), :method=> :delete, class: "btn btn-outline-danger btn-sm", data: {confirm: "You sure to delete this photo?"} do
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
            = fa_icon "remove"
