%section.z-index-0#contact.position--relative.text-center
  .container.mb-5#mapoverlay
    .row
      .col-12
        %h2.my-5.typed-blink Hire me
      .col-md-8.col-lg-4.offset-lg-4.offset-md-2


        = form_for @contact, method: 'create', remote: true, :html => {:class => ""} do |f|
          .row
            .col-md-12
              .mb-5.form-group
                = f.text_field :email, placeholder: "E-Mail", required: true, class: " no-border form-control-lg w-100"
            .col-md-12.mb-5
              .form-group
                = f.text_area :message, placeholder: "Message", :as => :text, required: true, class: " no-border form-control-lg w-100", rows: "5"
              .hidden
                = f.text_field :nickname, placeholder: "nickname", :hint => 'Leave this field blank!', hidden: "hidden"
            .col-md-12
              = f.submit "Send", :class=> "cursor-pointer btn btn-primary", data: { disable_with: "Sending..." }

  .text-center.mb-5
    =link_to "Send email", 'mailto:luludamiao@gmail.com'
  %button#show_map.btn.btn-primary.z-index-foreground-3.cursor-pointer{:href => "#", :title => "Show map!"} Show map
  .gmap.half-transparent
    #map_canvas
