%footer#footer.py-5
  .container

    .row

      .col-sm-12.text-center
        %h3.text-uppercase.typed-blink Connect with me
        = link_to "https://www.github.com/spielhoelle", title: "Github", class: "no-decoration", target: "_blank" do
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-github.color-black.fa-inverse.fa-stack-1x.no-decoration
        = link_to "https://codepen.io/spielhoelle/", title: "Codepen", class: "no-decoration", target: "_blank" do
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-codepen.color-black.fa-inverse.fa-stack-1x.no-decoration
        = mail_to "tfkuhnert@gmail.com", title: "Mail" do
          %span.fa-stack
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-envelope.color-black.fa-inverse.fa-stack-1x.no-decoration
              
    .tommy.mt-3.mb-4.text-muted.small.text-center
      .mb-3
        = link_to "https://creativecommons.org/licenses/by-nc-sa/4.0/", target: "_blank" do 
          = inline_svg 'by-nc-sa.eu.svg', class: "footer-svg"
      © 2017 with
      %i.fa.fa-heart
      by
      Thomas Kuhnert



