%section.z-index-0#contact.position--relative.faded-out
  .triangle#show_map.z-index-foreground-3.cursor-pointer{"data-toggle" => "tooltip", "data-placement" => "left", :href => "#", :title => "Show map!"} 
  .container.mb-5#mapoverlay
    .row.text-center
      .col-12
        %h2.typed-blink Get in touch
        %p
          Don’t hesitate to bother me with your …
          %br
          … our next project!
      .col-md-8.offset-md-2

        
        = form_for @contact, method: 'create', remote: true, :html => {:class => ""} do |f|
          .row
            .col-md-6
              .mb-5.form-group
                = f.text_field :name, placeholder: "Name", required: true, class: " bg-inverse no-border form-control-lg w-100"
            .col-md-6
              .mb-5.form-group
                = f.text_field :email, placeholder: "E-Mail", required: true, class: "bg-inverse no-border form-control-lg w-100"
            .col-md-12.mb-5
              .form-group
                = f.text_area :message, placeholder: "Message", :as => :text, required: true, class: "bg-inverse no-border form-control-lg w-100", rows: "5"
              .hidden
                = f.text_field :nickname, placeholder: "nickname", :hint => 'Leave this field blank!', hidden: "hidden"
            .col-md-12.text-center
              = f.submit "Send", :class=> "cursor-pointer btn btn-primary btn-lg", data: { disable_with: "Sending..." }




  .gmap.half-transparent
    #map_canvas{'data-description' => "Friedrichshain Berlin, Germany	"}
