%h3 
  Tags
  = link_to "New tag", new_admin_tag_path, class: "btn btn-primary mb-3 float-right"
%table.table.table-striped.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th Title
      %th Photos
      %th{colspan: 2}
        = "Actions"

  %tbody
    -@tags.each_with_index do |tag, index|
      %tr{id: "tag_#{tag.id}", class: ""}
        %td
          = link_to tag.title, edit_admin_tag_path(tag)

        %td
          = tag.photos.count


        %td.text-right.text-nowrap
          = link_to edit_admin_tag_path(tag), class: "btn btn-outline-success btn-sm" do
            %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
            = fa_icon "pencil"

          = link_to admin_tag_path(tag), :method=> :delete, class: "btn btn-outline-danger btn-sm", data: {confirm: "You sure to delete this tag?"} do
            %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
            = fa_icon "remove"
