-if @categories.any? && @tags.any?
  .my-5
    - if @categories.any?
      %ul.list-inline.mb-0.mr-3
        %span.mr-3= fa_icon "bars"
        - if action_name === "hidden"
          = link_to "All", hidden_path, class: current_page?(photos_path) && !params[:cat] && !params[:tag] ? "text-uppercase text-muted" : "text-lowercase"
        - else
          = link_to "All", photos_path, class: current_page?(photos_path) && !params[:cat] && !params[:tag] ? "text-uppercase text-muted" : "text-lowercase"
        - @categories.each_with_index do |cat, index|
          %li.list-inline-item
            - if action_name === "hidden"

              = link_to hidden_path("cat": cat.title, :tag => params[:tag]), class: params[:cat] == cat.title ? "text-uppercase text-muted" : "text-lowercase" do
                = cat.title
            - else

              = link_to photos_path("cat": cat.title, :tag => params[:tag]), class: params[:cat] == cat.title ? "text-uppercase text-muted" : "text-lowercase" do
                = cat.title
    - if @tags.any?
      %ul.list-inline.mr-3
        %span.mr-3= fa_icon "tags"
        - @tags.each_with_index do |tag, index|
          %li.list-inline-item
            - if action_name === "hidden"
              = link_to hidden_path("tag": tag.title, :cat => params[:cat]) ,class: params[:tag] == tag.title ? "text-uppercase text-muted" : "text-lowercase" do
                = tag.title
            - else
              = link_to photos_path("tag": tag.title, :cat => params[:cat]) ,class: params[:tag] == tag.title ? "text-uppercase text-muted" : "text-lowercase" do
                = tag.title
