.position--relative.overflow-hidden.container
  = render "shared/scroll_down"
  = image_set_tag @photo.image(:thumbnail), {  @photo.image(:thumbnail) => '640w',  @photo.image(:original) => '1024w' }, sizes: '100vw', class: 'w-100 h-100 object-fit_cover'
  %h3.mx-3.position-absolute.card-title.top.left.color-white.mt-5.p-5= @photo.title.capitalize
  .my-3.position-absolute.right.top.text-white.px-3
    = render "photos/single_meta", photo: @photo, classes: "text-white"

.container#photo_content
  .card
    - if @photo.caption.present?
      .card-block.background-color-black-transparent.d-flex.flex-column.p-0{:class => ""}
        .d-flex.flex-column.flex-grow.justify-content-center.p-4
          %p.p-0.card-title= @photo.caption.html_safe

    - if @photo.parent.present?
      %h2 Belongs to ...
      = link_to photo_path(@photo.parent), class:"position-relative d-block" do
        = image_set_tag @photo.parent.image(:thumbnail), {  @photo.parent.image(:thumbnail) => '640w',  @photo.parent.image(:original) => '1024w' }, sizes: '100vw', class: 'w-100 object-fit_cover'
        %small.my-3.position-absolute.right.top.text-white
          = @photo.parent.title
      - if @photo.parent.children.any?
        %h2.my-5 More from this ...
        .row
          - @photo.parent.children.each do |child|
            .col
              = link_to photo_path(child), class:"position-relative d-block" do
                = image_set_tag child.image(:thumbnail), {  child.image(:thumbnail) => '640w',  child.image(:original) => '1024w' }, sizes: '100vw', class: 'w-100 object-fit_cover'
                %small.my-3.position-absolute.right.top.text-white
                  = child.title

  - if @photo.children.any?
    %h2.my-5 More from this ...
    .row
      - @photo.children.each do |child|
        .col
          = link_to photo_path(child), class:"position-relative d-block" do
            = image_set_tag child.image(:thumbnail), {  child.image(:thumbnail) => '640w',  child.image(:original) => '1024w' }, sizes: '100vw', class: 'w-100 object-fit_cover'
            %small.m-3.position-absolute.right.top.text-white
              = child.title

  -if user_signed_in?
    .pt-5
      = link_to edit_admin_photo_path(@photo), class: "btn btn-primary", title: "Edit" do
        = fa_icon "edit"
        Edit
= render "shared/contact"