!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @page_title
    = csrf_meta_tags
    = stylesheet_link_tag    "application"
    = javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyDsgeCEtnu3z2vqOODPhPOM9BBK_KTkNys"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = metamagic

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = favicon_link_tag 'favicon.ico'
    - if Rails.env.production?
      / Piwik
      :javascript
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.thomaskuhnert.com"]);
        _paq.push(["setDomains", ["*.thomaskuhnert.com","*.www.thomaskuhnert.com"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="https://piwik.thomaskuhnert.com/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '3']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      %noscript
        %p
          %img{:alt => "", :src => "https://piwik.thomaskuhnert.com/piwik.php?idsite=3&rec=1", :style => "border:0;"}/
      / End Piwik Code


  %body{class: class_for_controller, "data-spy" => "scroll", "data-target" => "#collapsingNavbarv"}
    - if controller.controller_name == "welcome"
      .parallax
        = image_set_tag 'header_600.jpg', {  'header_600.jpg' => '640w',  'header_1600.jpg' => '1024w' }, sizes: '100vw', class: 'object-fit_cover', id: "hero"

        .h-100.d-flex.flex-column.p-3.p-md-5
            
          #hexagon-title.color-white.mb-4.fixed-ratio
            %img.fixed-ratio__inner.contain{:src => image_url('blank.gif'), :style => "background-image: url(#{image_url('plant.svg')})" }

          #typed-header-target
            %h1.typed.typed-blink.mb-2

            #typed-header.d-none
              %p Hi, I'm Tommy!
                                
            #typed-subheader.d-none
              %p= "software development"
              %p= "ux & webdesign"
              %p= "photography & image manipulation"

            .site-description.mb-3


    = render "shared/navigation"

    - if controller.controller_name == "welcome"
      %a.d-flex.justify-content-center.page-scroll#scroll_down{href: "#about"}
        = fa_icon "5x angle-down", class: "hint text-center cursor-pointer color-white"

    #flashes
      = render "shared/flash", flashes: flash

    #content
      = yield
    = render "shared/footer"

  = javascript_include_tag 'frontend.js', "data-turbolinks-eval" => false
